player-connection-mode=Listen
player-connection-guid=2597095471
player-connection-debug=0
player-connection-project-name=SecurityMgrSys
player-connection-ip=192.168.31.247
player-connection-ip=192.168.11.1
player-connection-ip=192.168.220.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
